.homepage-section {
  background-color: #001427;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.homepage-content {
  text-align: center;
  max-width: 600px;
  position: relative;
  z-index: 2;
}

.homepage-title {
  font-size: 3rem;
  font-weight: 700;
  color: #dbdfac;
  margin-bottom: 1rem;
}

.homepage-description {
  font-size: 1.5rem;
  color: #dbdfac;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homepage-button {
  background-color: #00a6fb;
  color: #000e1c;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homepage-button:hover {
  background-color: #0054a2;
  transform: scale(1.05);
}

.homepage-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
  height: 150px;
}

.role-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #00a6fb;
  opacity: 0;
  transform: scale(0.8);
  transition: border-color 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: -1;
}

.role-image.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 0;
}

/* Animation Keyframes */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(-15px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.3);
  }
}

.homepage-description h2.title.active,
.homepage-images img.role-image.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.homepage-description h2.title,
.homepage-images img.role-image {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInOut 5s infinite;
}
